.mySlides {display:none;
    opacity:0.8;
    object-fit:cover}

   #searchPage {
    height: 100%;
    margin: 0;
    background-color:	#262626;
}
    h2 {
      text-align:center;
      margin:0px;
      color:white;
      font-family: 'Poppins', sans-serif;
      font-size:22px;
    }

.label{
    text-align: center;
}

.searchform label, 
.searchform input {
  color: #737373;
  float: left;
  vertical-align: baseline;
  height:40px;
}

.searchform input[type=search] {
  border: .125em solid white;
  border-width: 0 0 3px;
  background-color:rgba(255,255,255,0.4);
  padding: .1875em .375em;
  width: 80%;
  font-size: 20px;

}

.searchform input[type=search]:focus {
  border-color: white;
  color: #262626;
  background-color:rgba(255,255,255,0.4);
  outline: 0;

}

@media only screen and (min-width: 48em) {
  .searchform input[type=search]{ width: 180%; }
}

.orilabel{
    text-align:center;
}
.firstTitle{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size:120px;
    opacity:0.9;  
}
a{
    color:white;
}
a:hover {
    color: white;
}
a:visited {
    color: white;
}

.hero-image {
    background-image: url("images/title.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:210px;
  }
 .hero-text{
     margin: 0 auto;
     width: 960px;
     height: 200px;
 }

 .hero-text span {
     text-align: center;
     display: block;
     color: white;
 }


 .secondTitle{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size:120px;
    padding-top:20px;
    text-transform: capitalize;
 }

 .footer {
    background-image: url("images/title.png");
    height:90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;

    text-align: center;
  }

  .indexImg{
    float:right;
     height:33px;
     width:33px; 
    
     margin:11px;
  }
  .secondTag{
      opacity:0.9;
  }
  ::placeholder{
    color:black;

}
/* .container {
    margin-left:30px;
    padding:0px;
    
} */
.row{
    align-content: center;
    text-align: center;


}
.buttonImg{
    height:90px;
    width:90px; 
    margin:40px;  
    margin-bottom: 8px;
}   
figure{
    text-align: center;
} 
figcaption{
    font-family: 'Poppins', sans-serif;
    font-size:15px;
}
#footerDiv{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size:40px;
    float:left;
    opacity:0.9px;

}
#map {
    margin:auto;

    height: 400px;
    /* The height is 400 pixels */
    width: 80%;
    /* The width is the width of the web page */
    margin-bottom:20px;
}
#translateTable{
    margin-top:30px;
}