.mySlides {display:none;
    opacity:0.8;
    object-fit:cover}
body, html {
    height: 100%;
    margin: 0;
    background-color:	#262626;
}
    h2 {
      text-align:center;
      margin:0px;
      color:white;
      font-family: 'Poppins', sans-serif;
      font-size:22px;
    }

.label{
    text-align: center;
}

.searchform label, 
.searchform input {
  color: #737373;
  float: left;
  vertical-align: baseline;
  height:40px;
}

.searchform input[type=search] {
  border: .125em solid white;
  border-width: 0 0 3px;
  background-color:rgba(255,255,255,0.4);
  padding: .1875em .375em;
  width: 80%;
  font-size: 20px;

}

.searchform input[type=search]:focus {
  border-color: white;
  color: #262626;
  background-color:rgba(255,255,255,0.4);
  outline: 0;

}

@media only screen and (min-width: 48em) {
  .searchform input[type=search]{ width: 180%; }
}

.orilabel{
    text-align:center;
}
h1{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size:120px;
    opacity:0.9;  
}
a{
    color:white;
}
a:hover {
    color: white;
}
a:visited {
    color: white;
}