.mySlides {display:none;
    opacity:0.8;
    object-fit:cover}
body, html {
    height: 100%;
    margin: 0;
    background-color:	#262626;
}
    h2 {
      text-align:center;
      margin:0px;
      color:white;
      font-family:kano;
      font-size:25px;
    }

.label{
    text-align: center;
}

.searchform label, 
.searchform input {
  color: #737373;
  float: left;
  vertical-align: baseline;
}

.searchform input[type=search] {
  font: 1em/1.618 Open Sans, Arial, Sans-serif;
  border: .125em solid white;
  border-width: 0 0 3px;
  background-color:rgba(255,255,255,0.4);
  padding: .1875em .375em;
  width: 80%;
}

.searchform input[type=search]:focus {
  border-color: white;
  color: #262626;
  background-color:rgba(255,255,255,0.4);
  outline: 0;

}

@media only screen and (min-width: 48em) {
  .searchform input[type=search]{ width: 180%; }
}

.button {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIQ0UqsrfeJItfFuWas-Kx4SGTKnAuC6VNYxst58ze7ImVmXuMpw");
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: 100%;
}

.button5 {border-radius: 100%;}

.container {
    text-align: center;
    text-emphasis: bold;
    image-orientation: center;
}